 <html lang="en">
   <head>
     <meta name="google-signin-scope" content="profile email">
     <meta name="google-signin-client_id" content="826273774095-oc33g9cst9sp8fa8t5f38af1uuvm56dk.apps.googleusercontent.com">
     <script src="https://apis.google.com/js/platform.js" async defer></script>
     <script type="text/javascript" src="public/login.js"></script>
     <link rel="stylesheet" href="/public/login.css">
   </head>
   <body>
     <div class="g-signin2 googleSigninButton" data-onsuccess="onSignIn" onclick="" data-theme="dark" ></div>

   </body>
 </html>
